@import "reset.css";

:root {
  --headerbackgroundcolor : #ffffff;
  --buttontextcolor : #F3F4F6;
  --buttoncolor : #3692ff;
  --watchlastbackcolor : #CFE5FF; 
  --explainbackcolor : #FCFCFC;
  --maintextcolor : #1F2937;
  --footerbackcolor : #111827;
  --footersourcecolor : #9CA3AF;
  --footerbuttoncolor : #E5E7EB;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px; 
}

body {
  font-family: Pretendard, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  padding: 0 24px;
  z-index: 10;
  background-color: var(--headerbackgroundcolor);
}

.head-log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 112rem;
}

.head-main-img {
  display: flex;
  align-items: center;
  gap: 8.59px;
}

.head-log-img {
  width: auto;
  height: 4rem;
}

.head-text-img > img {
  width: auto;
  height: 2rem;
}

.login-button {
  padding: 1rem 4.3rem;
  border-radius: 0.8rem;
  background-color: var(--buttoncolor);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--buttontextcolor);
  text-decoration: none;
  text-align: center;
}

.login-button:hover {
  cursor: pointer;
}

.containor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.look-containor {
  width: 100%;
  height: 54rem;
  background-color: var(--watchlastbackcolor);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.look-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.look-textbox {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.look-main-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
}

.look-button {
  display: inline-block;
  padding: 1.2rem 12.4rem;
  border-radius: 3rem;
  background-color: var(--buttoncolor);
  font-size: 2rem;
  font-weight: 600;
  color: var(--buttontextcolor);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 2rem;
}

.look-button:hover {
  cursor: pointer;
}

.look-img-box {
  display: flex;
  justify-content: center;
}

.look-img {
  width: 100%;
  max-width: 746px;
}

.explain-containor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 276px;
  padding: 138px 0;
}

.explain-content,
.explain-content1 {
  display: flex;
  align-items: center;
  gap: 2%;
  background-color: var(--explainbackcolor);
  padding: 0;
}

.explain-box {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding: 3rem;
  flex: 1;
}

.explain-title-text {
  font-size: 1rem;
  font-weight: 700;
  color: var(--buttoncolor);
}

.explain-main-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
}

.explain-sub-text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
}

.explain-img-box {
  display: flex;
  justify-content: center;
}

.explain-img {
  width: 100%;
  max-width: 588px;
}

.last-containor {
  width: 100%;
  height: 54rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--watchlastbackcolor);
}

.last-content {
  display: flex;
  align-items: center;
  gap: 69px;
  flex-wrap: wrap;
}

.last-text-box {
  flex: 1;
}

.last-title-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
}

.last-img-box {
  display: flex;
}

.last-img {
  width: 90%;
  max-width: 746px;
}

.footer-containor {
  background-color: var(--footerbackcolor);
  padding: 3.2rem 2rem;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footer-source {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--footersourcecolor);
}

.footer-button {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
  color: var(--footerbuttoncolor);
}

.footer-button a {
  text-decoration: none;
}

.footer-sub-img {
  display: flex;
  gap: 0.7rem;
}

.footer-sub-img img {
  width: 16px;
  height: auto;
}

@media (max-width: 1199px) {
  header {
    padding: 0 24px;
  }
  .head-main-img {
    gap: 16px;
  }
  .watch-content {
    flex-direction: column;
    align-items: center;
  }
  .explain-content {
    flex-direction: column;
    align-items: center;
  }
  .explain-content1 {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 743px) {
  header {
    padding: 0 16px;
  }
  .watch-content {
    flex-direction: column;
  }
  .watch-button {
    width: calc(100% - 32px);
  }
  .watch-img {
    max-width: 400px;
  }
  .footer-content {
    white-space: nowrap;
    gap: 2rem;
  }
}