@import "reset.css";

 html,body {
  /* margin: 0;
  padding: 0; */
  width: 100%;
}
  /* overflow-x: hidden; */
 

body {
  font-family: "Pretendard", sans-serif;
}

/* 여기서부터 로그인 줄 */

header {
  /* width: 1920px; */
  height: 70px;
  background-color: #ffffff;
  /* padding: 0 200px; */
  position: sticky;
  top: 0px;
}

.head-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 200px; */
}


.panda-home { 
  width: 153px;
  height: 51px;
  margin-top: 9.5px;
}

.login-btn {
  border: none;
  width: 128px;
  height: 48px;
  border-radius: 8px;  
  padding: 12px 23px 12px 23px;
  gap:10px;
  background-color: #3692FF;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-top: 11px; 

  cursor: pointer;
}

/* 여기서부터 본문 */

/* 공통으로 있어 묶어놓은 것들 */
.blue-it {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 26px;
  color: #3692ff;
}

.작은내용 {
  color:#374151;
  font-size: 1.5rem;
}

/* 하늘색섹션(box1) top */

.sky-top {
  background-color: #CFE5FF;
  height:540px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 7px;
}

.box1-text {
  gap:32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 7px;
  margin-bottom: 60px;
}

.goo-btn {
  border: none;
  height: 56px;
  border-radius: 40px;  
  width: 100%;
  gap:10px;
  background-color: #3692FF;
  color: #f9fafb;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 32px;
  cursor: pointer;
}

.두개포함1 {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

/* .top-panda-im {
  width: 50%;
} */

  .box1-ht {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 56px;
    color:#374151;
  }  
  
/* 흰색섹션1(box2) 인기상품존 구간 */
.인기상품존 {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}

.box2-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

}

.heart-nemo {
  padding : 100px 0;
  display : flex;
  gap : 64px;
  align-items: center;
  justify-content: center;
  width: 988px;
}

.box2-ht {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 56px;
  color:#374151;
}


/* 흰색섹션2(box3) 구매상품존 구간 */

.구매상품존 {
  /* max-width: 1200px; */
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}

.box3-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 50%;
  text-align: right;
}

.search-nemo {
  padding : 100px 0;
  display : flex;
  gap : 64px;
  align-items: center;
  justify-content: center;
  width: 988px;
}
 
/* .search-im {
  width: 50%;
} */

  .box3-ht {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 56px;
    color:#374151;
  }

/* 흰색섹션3(box4) 판매상품존 구간 */

.판매상품존 {
 
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}

.box4-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 50%;
}

.folder-nemo {
  padding : 100px 0;
  display : flex;
  gap : 64px;
  align-items: center;
  justify-content: center;
  width: 988px;
}

/* .folders-im {
  width: 50%;
} */

  .box4-ht {
   font-weight: 700;
    font-size: 2.5rem;
    line-height: 56px;
    color:#374151;
  }

/* 하늘색섹션(box5) bottom */

.sky-bottom {
  background-color: #CFE5FF;
  height:540px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap:69px;
}

.box5-text {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 56px;
    color:#374151;
    margin-bottom: 112.5px;
    
}

.두개포함5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

/* .bottom-pand-im {
  width: 50%;
} */

  .box5-ht {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 56px;
    color:#374151;
    margin-bottom: 112.5px;
  }

/* 여기서부터 footer */

.big-box6 {
  /* width: 1920px; */
  width: 100%;
  height: 160px;
  margin: 0px;
  background-color: #111827;
}

.footer-ct {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  /* padding: 0px 200px; */

}

.footers {
 max-width: 100%;
}

.foot1 {
  color: #9CA3AF;
}

.foot2, .foot3 {
  gap: 30px;
  text-decoration: none;
  color:#E5E7EB;
}

.ppfaq, .sns-item {
  display: flex; /* 요소들을 한 줄로 배치 */
  flex-wrap: nowrap; /* 요소들이 한 줄에 유지되도록 설정 */
  justify-content: space-between; /* 요소들 사이에 일정한 간격을 설정 */
  align-items: center; /* 요소들을 세로로 가운데 정렬 */
}

.ppfaq {
  gap: 30px;
}

/* .sns-item {

  display: flex;
  width: 116px;
  gap: 12px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
} */

/* 반응형 디자인 */
@media (max-width:743px){
  /*모바일 용 스타일 */
  #head-box {
    margin: 0px 16px;
  }
} 

@media only screen and (min-width : 744px) and (max-width : 1199px) {
  /*태블릿 용 스타일 */
  #head-box {
    margin: 0px 24px;
  }
} 

@media only screen and (min-width : 1200px) {
  /*PC 용*/ 
  #head-box {
    margin: 0px 400px;
  }
}