@import "reset.css";

:root {
  --inputtextcolor : #9CA3AF;
  --inputextbackgroundcolor : #F3F4F6;
  --inputfocuscolor : #3692ff;
  --easyloginbackgroundcolor : #E6F2FF;
  --maintextcolor : #1F2937;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
font-family: Pretendard, sans-serif;
display: flex;
justify-content: center;
}

form  {
  width: 100%;
}

.containor {
display: flex;
flex-direction: column;
align-items: center;
 justify-content: center;
 width: 90%;
 width: 640px;
 height: 618px;
 margin: 230px 320px;
 padding: 2rem;
}

.header-containor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 4rem 4rem 4rem;
}

.head-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.logo-img {
  width: 103.53px;
  max-width: 20%;
  height: auto;
  max-height: 103.88px;

}

.logo-text-img {
  width: 80%;
  max-width: 266px;
  height: auto;
  max-height: 90px;
}

.error-message-container {
  margin-top: 8px; 
}

.error-message {
  color: #F74747; 
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

#mail-content {
  padding-bottom: 24px;
}

.mail-containor {
 display: flex;
 flex-direction: column;
 width: 100%;
 max-width: 640px;
}

.mail-title-text {
  width: 47px;
  height: 26px;
  font-size: 18px;
  font-weight: 700;
  color: var(--maintextcolor);
  gap: 0px;
  opacity: 0px;
  white-space: nowrap;
  text-decoration: none;
  margin-bottom: 16px;
}

.main-insert-text {
width: 100%;
height: 56px;
padding: 16px 24px 16px 24px;
gap: 10px;
border-radius: 12px;
opacity: 0px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: var(--inputtextcolor);
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
border: none;
background-color:var(--inputextbackgroundcolor);
}

.main-insert-text:focus {
  font-size: 16px;
  font-weight: 400;
  color:var(--maintextcolor);
  width: 100%;
  outline: none;
  border: 1px solid;
  border-color: var(--inputfocuscolor);
}

#password-content {
  padding-bottom: 24px;
}

.pass-title-text {
  width: 63px;
  height: 26px;
  font-size: 18px;
  font-weight: 700;
  color: var(--maintextcolor);
  gap: 0px;
  opacity: 0px;
  white-space: nowrap;
  text-decoration: none;
  margin-bottom: 16px;
}

.pass-containor {
  width: 100%;
  height: 56px;
  position: relative;
  display: flex;
}

.pass-containor input:focus{
  width: 100%;
  outline: none;
  color: var(--maintextcolor);
  border: 1px solid;
  border-color: var(--inputfocuscolor);
}

#togglePassword {
  cursor : pointer;
}

.password-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 18px;
  bottom: 50px;
  right: 20px;
  background: url(btn_visibility_on_24px.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.login-button {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 56px;
padding: 16px 124px 16px 124px;
font-size: 20px;
font-weight: 600;
margin-bottom: 24px; 
gap: 10px;
border-radius: 40px;
opacity: 0px;
color:var(--inputextbackgroundcolor);
white-space: nowrap;
text-decoration: none;
text-align: center;
border: none;
flex-shrink: 0;
background-color: var(--inputtextcolor);
}


.login-button:hover {
  cursor: pointer;
  background-color:var(--inputfocuscolor);
}

.easylogin-cotainor {
  background-color: var(--easyloginbackgroundcolor);
  border-radius: 12px;
  padding: 16px 23px;
  margin-bottom: 24px;
}

.easylogin-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.easylog-title-text{
font-size: 16px;
font-weight: 500;
line-height: 26px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.easylogin-img   {
  width: 42px;
  height: auto;
  white-space: nowrap;
}

.easylogin-img-box {
  text-decoration: none;
}

.signup-cotainor {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.modal-hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* visibility : 가시성 hidden : 숨기기 */
  visibility: hidden;
  /* transition 애니메이션 효과 적용 */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#modal-message {
  position: relative;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 540px;
  min-height: 250px;
}

.modal-content p {
  font-size: 16px;
  color: #1F2937;
  margin-bottom: 20px;
}

.modal-btn {
  position: absolute;
  background-color: var(--inputfocuscolor);
  color: var(--inputextbackgroundcolor);
  border: none;
  width: 120px;
  height: 48px;
  padding: 10px 20px;
  right: 28px;
  bottom: 28px;
  border-radius: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.modal-button:hover {
  background: var(--inputfocuscolor);
}

.show {
  opacity: 1;
  visibility: visible;
}