html {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  * {
    box-sizing: border-box;
  }

  #contents-body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    display: flex;
    justify-content: center;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    margin: 16px auto;

  }
  
  label {
    text-align: left;
    color: #1F2937;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin: 16px 0 16px;
  }
  
  input {
    border: 1px solid #d1d1d1;
    color: #ababab;
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    padding: 16px 24px;
    width: 100%;
  }
  
  button {
    background: #9CA3AF;
    border: none;
    color: #F3F4F6;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 24px 0;
    padding: 16px;
    width: 640px;
    height: 56px;
    border-radius: 40px;
  }

  img {
    width: 396px;
  }

  input{
    width: 640px;
    height: 56px;
    background-color: #F3F4F6;
    border-radius: 12px;
    padding: 16px 24px;
  }

  input::placeholder {
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
  }

  #simple_login{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 640px;
    height: 74px;
    border-radius: 8px;
    background-color: #E6F2FF;
    padding: 16px 23px;
    font-size: 16px;
    font-weight: 500;
  }

  .sns_login{
    width: 42px;
    height: 42px;
    margin-right: 16px;
  }

  #log-in{
    margin-top: 24px;
  }