html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

#contents-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 396px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#signupForm {
  margin: 16px auto;
}

.signup-label {
  text-align: left;
  color: #1f2937;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin: 16px 0 16px;
}

.signup-form {
  border: 1px solid #d1d1d1;
  color: #ababab;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  padding: 16px 24px;
  width: 100%;
  width: 640px;
  height: 56px;
  background-color: #f3f4f6;
  border-radius: 12px;
  padding: 16px 24px;
}

.invalid {
  border: 1px solid #f74747;
}

.error-message {
  color: #f74747;
  font-size: 15px;
  font-weight: 600;
  margin-left: 16px;
  margin-top: -10px;
  display: none;
}

.error-message.visible {
  display: block;
}

.signup-button {
  background-color: #3692ff;
  border: none;
  color: #f3f4f6;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin: 24px 0;
  padding: 16px;
  width: 640px;
  height: 56px;
  border-radius: 40px;
}

.signup-form::placeholder {
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
}

#simple-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  height: 74px;
  border-radius: 8px;
  background-color: #e6f2ff;
  padding: 16px 23px;
  font-size: 16px;
  font-weight: 500;
}

.sns-login {
  width: 42px;
  height: 42px;
  margin-right: 16px;
}

#log-in {
  margin-top: 24px;
}

.button_disabled {
  border: none;
  color: #f3f4f6;
  background-color: #9ca3af;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin: 24px 0;
  padding: 16px;
  width: 640px;
  height: 56px;
  border-radius: 40px;
}

/*모달 팝업 영역 스타일링*/
.modal {
  /*팝업 배경*/
  display: none; /*평소에는 보이지 않도록*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal_popup {
  /*팝업*/
  position: absolute;
  width: 540px;
  height: 250px;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
}
.modal .modal_popup .close_btn {
  position: fixed;
  bottom: 28px; /* 화면 아래에서 28px 간격 */
  right: 28px;
  display: block;
  padding: 14.5px 46px;
  background-color: #3692ff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
