:root {
  --color-board-bg: #cfe5ff;
  --color-button-bg: #3692ff;
  --color-button-font: #ffffff;
  --color-input-bg: #f3f4f6;
  --color-footer-bg: #111827;
}

body {
  font-family: Pretendard, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 9.5008px 200px;
  background-color: #fff;
}

header > .header,
.top-wrapper > .top {
  width: 120rem;
}

header > .header > .container {
  display: flex;
  justify-content: space-between;
}

header > .header > .container > .home {
  display: flex;
  align-items: center;
  gap: .625rem;
}

header > .header > .container > .login {
  width: 8rem;
  height: 3rem;
  border-radius: .5rem;
  background-color: var(--color-button-bg);
  border: none;
  color: var(--color-button-font);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--color-board-bg);
}

.top-wrapper > .top > .container {
  display: flex;
  justify-content: center;
  margin: 12.5rem 0 0;
  gap: .625rem;
}

.top-wrapper > .top > .container > .top-container > h1 {
  /* flex: 1 1 0%; */
  width: 330px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.75rem;
  color: #374151;
  padding: 1.25rem 0;
}

.top-wrapper > .top > .container > .top-container > .btn {
  /* flex: 1 1 0%; */
  text-decoration: none;
  width: 22.3125rem;
  height: 3.5rem;
  background-color: var(--color-button-bg);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.top-wrapper > .top > .container > img {
  width: 746px;
  height: auto;
}

section {
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  align-items: center;
  margin: 8.625rem auto;
  background-color: fcfcfc;
}

article > img {
  width: 588px;
  height: auto;
}

article > .text {
  margin: 0 5rem;
  /* width: 350px; */
}

article > .text > h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #3692ff;
}

article > .text > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.75rem;
  color: #374151;
  padding: 1.25rem 0;
}

article > .text > span {
  text-align: center;
}

/* footer */
footer > .footer-wrapper {
  background-color: var(--color-footer-bg);
  padding: 2rem 12.5rem 0;
}

footer > .footer-wrapper > .container {
  display: flex;
  justify-content: space-between;
  height: 10rem;
}

footer > .footer-wrapper > .container > .policy-faq {
  display: flex;
  gap: 1.875rem;
}

footer > .footer-wrapper > .container > .from {
  color: #9ca3af;
  font-size: 1rem;
  font-weight: 400;
}

footer > .footer-wrapper > .container > .sns {
  display: flex;
  height: 1.25rem;
  gap: .75rem;
}

footer > .footer-wrapper > .container > .sns > a > img {
  width: 1.25rem;
}

footer > .footer-wrapper > .container > .policy-faq > a {
  color: #e5e7eb;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

/* tablet */
@media (min-width: 744px) and (max-width: 1199px) {
  header {
    padding: 11.5px 24px;
  }

  .top-wrapper > .top > .container {
    flex-direction: column;
    margin: 84px 0 0;
  }

  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 211px;
  }

  .top-wrapper > .top > .container > .top-container > .btn {
    width: 357px;
  }

  .top-wrapper > .top > .container > .top-container > h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .top-wrapper > .top > .container > img {
    width: 100%;
    height: auto;
  }

  article {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px;
    margin: 0 0 10px;
  }
  article > img {
    width: 100%;
  }
  article > .text {
    margin: 24px 0;
  }
  article > .text > h1 > br {
    display: none;
  }
  article > .text > span {
    line-height: 1.6rem;
  }
  article:nth-child(2) {
    align-items: flex-end;
  }
  article:nth-child(2) .text { 
    order: 2;
    text-align: right;
  }
  article:nth-child(2) img { 
    order: 1;
  }

  footer > .footer-wrapper {
    padding: 2rem 24px;
  }
}

/* mobile */
@media (min-width: 375px) and (max-width: 743px) {
  header {
    padding: 11.5px 16px;
  }

  .top-wrapper > .top > .container {
    flex-direction: column;
    margin: 84px 0 0;
  }

  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 211px;
  }

  .top-wrapper > .top > .container > .top-container > .btn {
    width: 240px;
  }

  .top-wrapper > .top > .container > .top-container > h1 {
    font-size: 32px;
    width: 240px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .top-wrapper > .top > .container > img {
    width: 100%;
    height: auto;
  }

  article {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px;
    margin: 0 0 10px;
  }
  article > img {
    width: 100%;
  }
  article > .text {
    margin: 24px 0;
  }
  article > .text > h1 > br {
    display: none;
  }
  article > .text > h1 {
    font-size: 24px;
  }
  article > .text > span {
    line-height: 1.6rem;
  }
  article:nth-child(2) {
    align-items: flex-end;
  }
  article:nth-child(2) .text { 
    order: 2;
    text-align: right;
  }
  article:nth-child(2) img { 
    order: 1;
  }

  footer > .footer-wrapper {
    padding: 2rem 24px;
  }
  footer > .footer-wrapper > .container {
    flex-wrap: wrap;
    height: 6rem;
  }
  footer .container div {
    flex: 1 1 40%;
  } 
  footer .container div:nth-child(1) {
    order: 2;
  }
  footer .container div:nth-child(2) {
    order: 1;
  }
  footer .container div:nth-child(3) {
    order: 1;
    display: flex;
    justify-content: flex-end;
  }
}

