@import "./reset.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pointer, 
button {
    cursor: pointer;
  }

img { 
    vertical-align: bottom;}


body {
    margin: 0;
    font-family: 'pretendard';
  }

header{
    display: flex;
    position: sticky;
    padding: 9.5px 200px 9.5px 200px;
    background-color: white;
    top: 0;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

#login {
    width: 128px;
    height: 48px;
    padding: 12px 23px 12px 23px;
    color: white;
    background-color: #3692FF;
    border-radius: 8px;
    border: none;
}

.content{
    display:flex;
    align-items: center;
    justify-content: center;
}

.title_tag{
    font-size: 18px;
    font-weight:700;
    color: #3692FF;
    margin-bottom: 12px;
}

.title{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 12px;
}

.sub_text{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;    
}

.content_box_left{
    display:flex;
    flex-direction: column;
    margin-right: 64px;
    text-align: right;
}

.content_box_right{
    height: auto;
    display:flex;
    flex-direction: column;
    margin-left: 64px;
}

#home_top_img{
    width: 756px;
}

#home_bottom_img{
    width: 756px;
}

#part1, 
#part5 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 540px;
    background-color: #CFE5FF;
}

#part2, 
#part3, 
#part4{
    display: flex;
    height: 720px;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: space-between;
    height: 160px;
    background-color: #111817;
    font-size:16px;
    font-weight: 400;
    color: white;
    padding: 15px 10% 108.5px 10%;
}

footer a{
    color: white;
    text-decoration-line: none;
}

#policy_box {
    display:flex;
    gap: 50px;
}

#footer_ic{
    display:flex;
    gap: 12px;
}

#look{
    width: 357px;
    height: 56px;
    border-radius: 40px;
    background-color: #3692FF;
    border: none;
    color: white;
    font-size: 20px;
}