* {
    --maincolor: #3692FF;
    --textcolor: #1F2937;
}

.logo {
    margin-bottom: 50px;
}

.loginComponent {
    margin: 0 auto;
    width: 640px;
    height: 618px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.input:focus {
    outline: 1px solid var(--maincolor);
}

.input {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 592px;
    height: 30px;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
    border-radius: 12px;
    background-color: #F3F4F6;
    border-width: 0;
    padding: 16px 24px 16px 24px;
}

.vector {
    position: relative;
    left: 600px;
    bottom: 70px;
}

#pwCheck {
    position: relative;
    bottom: 20px;
}


.simpleLogin {
    display: flex;
    justify-content: space-between;
    width: 594px;
    height: 42px;
    background-color: #E6F2FF;
    border-radius: 8px;
    padding: 16px 23px 16px 23px;
    align-items: center;

}

.button {
    width: 640px;
    height: 56px;
    margin-bottom: 30px;
    background-color: #9CA3AF;
    border-radius: 40px;
    border-width: 0;
    color: #FFFFFF;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 20px;

}

.labels {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 18px;
    color: var(--textcolor);
}

.simple {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 16px;
    color: var(--textcolor);
}

.unRegister {
    margin-top: 20px;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 20px;
    color: var(--textcolor);
}

.unRegister > a {
    color: var(--maincolor);

}
