#content {
  display: flex;
  flex-direction: column;
  padding: 0px 10%;
  gap: 24px;
}

.error-message {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 16px;
  margin-top: 8px;
  color: #f74747;
}

.btn {
  width: 74px;
  height: 42px;
  border-radius: 8px;
  background-color: #9ca3af;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  border: none;
}

.registration {
  display: flex;
  justify-content: space-between;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1f2937;
  align-items: center;
}

.title {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1f2937;
}

.box {
  max-width: 1200px;
  width: 100%;
}

.input {
  max-width: 1200px;
  width: 100%;
  border-radius: 12px;
  background-color: #f3f4f6;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border: none;
  outline: none;
  color: #1f2937;
  padding: 15px 24px;
  box-sizing: border-box;
  text-align: left;
}

.input::placeholder {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9ca3af;
}

.name-input {
  height: 56px;
}

.introduction-input {
  height: 282px;
  /* 크기조절 고정 */
  resize: none;
  overflow-wrap: break-word;
}

.price-input {
  height: 56px;
}

.tags-input {
  height: 56px;
}

.tag-all {
  display: flex;
  gap: 12px;
}

.tag {
  border-radius: 26px;
  background-color: #f3f4f6;
  display: inline-block;
  padding: 5px 12px 5px 16px;
  margin-top: 14px;
}

.tag img {
  width: 22px;
  height: 24px;
}

.tag-box {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tag-box > div {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1f2937;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
