@import "reset.css";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Pretendard", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .all-wrapper {
  padding: 227px 640px;
} */

/* 로고부분 */

header {
  margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.panda-home {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
 }

/* 메인입력부분 */

/* main {
    width: 100%;
} */

.email_area{
    margin-top: 40px;
}

.nick_area {
    margin-top: 24px;
}

.pass_area {
    margin-top: 24px;
}

.passcheck_area {
    margin-top: 24px;
}

label {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
    color: #1F2937;
}

input {
    height: 56px;
    background-color: #F3F4F6;
    border-style: none;
    gap: 10px;
    border-radius: 12px;
    padding-left: 15px;
    box-sizing: border-box;
}

input::placeholder {
    color: #9CA3AF;
    font-size: 16px;
}

#uid, #unickname, #password, #passwordcheck {
    width: 100%;
    height: 56px;
    background-color: #F3F4F6;
    border-style: none;
    gap: 10px;
    border-radius: 12px;
}

.pass_box {
    position: relative;
}

.passcheck_box {
  position: relative;
}

/* .눈알1 {
    position: absolute;
    right: 16px;
    top:10%;
} */

/* .눈알2 {
    position: absolute;
    right: 16px;
    top:10%;
} */

.icon-eye {
  position: absolute;
  top: 10%;
  right: 24px;
  width: 24px; 
  height: 24px;
  cursor: pointer;
}

.hide {
  color:#F74747;
  display: none;
}

/* #passwordcheck {
    background-image : url('btn_visibility_on_24px.png');
    background-repeat : no-repeat;
    background-size: 24px;
    background-position: right;
    background-position-x: 592px;
    border-style: none;
}
#password {
    background-image : url('btn_visibility_on_24px.png');
    background-repeat : no-repeat;
    background-size: 24px;
    background-position: right;
    background-position-x: 592px;
    border-style: none; }*/


/* 회원가입 버튼 */

.join_area {
    margin-top: 24px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-btn {
    border: none;
    width: 100%;
    height: 56px;
    border-radius: 40px;  
    gap:10px;
    background-color: #9CA3AF;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #3692FF ;
}

/* 간편 로그인하기 */

.간편_area {
    width: 100%;
    height: 74px;
    border-radius: 8px;
    background-color: #E6F2FF;
    color: #1F2937;
    margin-top: 24px;
    gap: 10px;

}

.간편-contentbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 23px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.googleim{
    margin-right: 16px;
}

.googleim, .kakaoim {
    height: 42px;
    text-decoration-line: none;
    gap: 16px;
}

.간편-google, .간편-kakao {
    text-decoration-line: none;
}

input:focus {
    outline: 1px solid #3692FF;
}

/* 이미 회원이신가요? */

.relogin_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    gap: 4px;
    color: #1F2937;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.signup-link {
   color: #3692FF;
   font-weight: 500;
   font-size: 14px;
   line-height: 16.71px;
}

@media (max-width:743px){
  /*모바일 용 스타일 */
  
  #all-wrapeer {
    width: 100%;
    max-width: 400px;
    margin: 0px 16px;
  }
} 

.alert_box {
  background-color: #ffffff;
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 540px; 
  height: 250px; 
  z-index: 1000; 
  border-radius: 8px;
}

.alert-message {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.alrert-btn {
  position: absolute;
  top: 174px;
  left: 392px;
  width: 120px;
  height: 48px;
  background-color: #3692FF;
  color: #ffffff;
  font-weight: 600;
  line-height: 19.09px;
  padding: 12px 23px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
}
