body {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
      "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
      "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      sans-serif;
}

#content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#panda {
    margin-top: 60px;
    margin-bottom: 40px;
}

#panda a{
    height: 100%;
    display: inline-block;
}

#panda img{
    width: 396px;
}

input{
    background-color: #F3F4F6;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0);
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    font-family: Pretendard;
    color: #1F2937;
}

input:focus{
    outline: 1px solid #3692FF;
}


.form_box{
    position: relative;
    width: 640px;
    margin-bottom: 24px;
}

.input_div{
    position: relative;
    display: flex;
    align-items: center;
}

.pwd_img{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    border: 0px;
    background-image: url(img/pw-img-on.png);
    background-size: contain;
}

.off{
    background-image: url(img/pw-img-off.png);
}

/* .on{
    background-image: url(img/pw-img-on.png);
} */

.explain{
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

#btn_signup{
    width: 640px;
    margin-bottom: 24px;
}

#btn_signup button{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: 0px;
    background: #9CA3AF;
    color: #F3F4F6;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#simple{
    display: flex;
    border-radius: 8px;
    width: 640px;
    height: 74px;
    max-width: 640px;
    max-height: 74px;
    background: #E6F2FF;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#simple_img{
    height: 42px;
    
}


#simple_txt{
    padding-left: 23px;
}

#simple_txt p{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

#google{
    background-image: url(img/google.png);
    width: 42px;
    height: 42px;
    display: inline-block;
    background-size: cover;
    margin-right: 16px;
}

#kakao{
    background-image: url(img/kakako.png);
    width: 42px;
    height: 42px;
    display: inline-block;
    background-size: cover;
    margin-right: 23px;
}

#login{
    margin-top: 24px;
}

#login p{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

#login a{
    color: #3692FF;
}

.hiden{
    display: none;
}

.hiden_text{
    margin-top: 8px;
    margin-left: 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 17.9px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F74747;
}



@media (max-width: 1199px) {
    #panda{
        margin-top: 48px;
    }
}



@media (max-width: 743px) {
    #content{
        padding: 0px 16px;
    }

    #panda{
        margin: 24px auto;
    }

    #panda img{
        width: 198px;
    }
    .form_box{
        max-width: 400px;
        width: 100%;
        margin-bottom: 16px;
    }

    .explain{
        margin-bottom: 8px;
    }


    #btn_signup{
        max-width: 400px;
        width: 100%;
    }

    #simple{
        max-width: 400px;
        width: 100%;
    }
}