:root {
  --color-login-input-bg: #f3f4f6;
  --color-login-button-bg: #9ca3af;
  --color-login-button-bg-hover: #3692ff;
  --color-login-button-border: #3692ff;
  --color-login-button-font: #f3f4f6;
  --color-login-oauth-bg: #e6f2ff;
}

body {
  font-family: Pretendard, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 14.375rem;
  /* min-height: 100vh; */
  padding: 1.5rem;
}

.signup {
  width: 40rem;
  display: flex;
  flex-direction: column;
}

.signup .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin: 0 0 3.4463rem;
  text-decoration: none;
}

.signup .header img {
  width: 104px;
}

.signup .header h1 {
  font-size: 4.1463rem;
  font-weight: 700;
  color: #3692ff;
}

.signup .input-box h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 24px;
}

.signup .input-box input {
  margin: 1rem 0 0;
  width: 100%;
  height: 3.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-login-input-bg);
  padding: 0 1.5rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'pretendar';
  color: #1f2937;
}

.signup .input-box input:focus {
  outline: none;
  border: .125rem solid var(--color-login-button-bg-hover);
}
.error-text {
  margin: 8px 0 0px 20px;
  color: #f74747;
  font-size: 15px;
  font-weight: 600;
  display: none;
}
.error + #email-error,
.pwd-container:has(> .error) + #pwd-error,
.pwd-container:has(> .error) + #pwd-confirm-error {
  display: block;
}
#email.error,
#pwd.error {
  border: .125rem solid #f74747 !important;
}
.signup .input-box {
  position: relative;
}

.pwd-container button {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  right: 1.25rem;
  color: #6a6d74;
  border: none;
  cursor: pointer;
  background-color: #f3f4f6;
  padding: 0;
}

.signup .input-box button i {
  font-size: 1rem;
}

.pwd-container {
  position: relative;
}

.signup > .btn {
  width: 100%;
  border-radius: 2.5rem;
  border: none;
  background-color: var(--color-login-button-bg);
  height: 3.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #f3f4f6;
  margin-top: 24px;
}

.signup > .btn:hover {
  background-color: #3692ff;
  cursor: pointer;
}

.signup > .btn:disabled,
.signup > .btn:disabled:hover {
  background-color: var(--color-login-button-bg);
  cursor: not-allowed;
}

.signup .oauth-login {
  height: 4.625rem;
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-login-oauth-bg);
  border-radius:  .5rem;
  padding: 0 1.4375rem;
}

.signup .oauth-login .links {
  display: flex;
  gap: 1rem;
}

.signup .oauth-login a img {
  width: 2.625rem;
}

.signup .login {
  margin: 0 auto;
  font-size: .875rem;
  font-weight: 500;
  color: #1f2937;
}

.signup .login a {
  color: #3692ff;
}

.modal {
  position: fixed;
  z-index: 1; /* 화면 위에 표시 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* 배경색 */
  background-color: rgba(0,0,0,0.4); /* 투명한 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-container {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 80%;
  height: 250px;
  max-width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container span {
  font-size: 16px;
  font-weight: 500;
  color: #1f2937;
}
.modal-container button {
  position: absolute;
  bottom: 10%;
  left: 80%;
  transform: translateX(-50%);
  border: none;
  border-radius: 8px;
  width: 120px;
  height: 48px;
  background: var(--color-login-button-bg-hover);
  color: var(--color-login-button-font);
  cursor: pointer;
}

@media (max-width: 743px) {
  body {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    margin-top: 30px;
    max-width: 400px;
  }

  .signup .header {
    margin-bottom: 20px;
  }

  .signup .header img {
    width: 51.76px;
  }

  .signup .header h1 {
    font-size: 33.17px;
  }

  .signup .input-box h3 {
    font-size: 14px;
  }

  .signup > .btn {
    font-size: 16px;
  }

  .modal-container button {
    left: 50%;
  }
}