*{
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard';
  margin: 0;
  padding: 0;
  font-size: 10px;
  display: flex;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}

.container {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  top: 100px;
  padding: 20px;
}

.email {
  gap: 16px;
}

.font1-8em {
  font-size: 1.8em;
  font-weight: 700;
}

.email-input {
  width: 100%;
  height:56px;
  border-radius: 12px;
  padding-left: 24px;
  gap: 10px;
  font-size: 1.6em;
  line-height: 26px;
  background-color: #F3F4F6;
  border: none;
  font-family: 'Pretendard';
  outline-color: #3692FF;
}

.input-background {
  display: flex;
  align-items: center;
}



.password-input {
  width: 100%;
  height:56px;
  border-radius: 12px;
  padding-left: 24px;
  gap: 10px;
  font-size: 1.6em;
  line-height: 26px;
  background-color: #F3F4F6;
  border: none;
  font-family: 'Pretendard';
  outline-color: #3692FF;
}


.Vector {
  cursor: pointer;
  position: absolute;
  right: 44px;
}

Button {
  width: 100%;
  height: 56px;
  border-radius: 40px;
  text-align: center;
  gap: 10px;
  background-color: #9CA3AF;
  font-weight: 600;
  font-size: 2em;
  line-height: 32px;
  color: #F3F4F6;
  border: none;
  cursor: pointer;
}

Button:hover{
  background-color: #3692FF;
}

.Easylogin {
  padding: 24px;
  height: 74px;
  border-radius: 8px;
  background-color: #E6F2FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 26px;
}

.Component {
  display: flex;
  gap: 16px;
}

.signup {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 24px;
}

a {
 color: #3692FF;
 line-height: 16.71px;
}

img {
  max-width: 100%;
}