div.tailmen {
  height: 160px;
  background-color: #111827;
}

div.tailsec {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tail-nav {
  width: 1520px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 32px 200px;
}

nav > li {
  color: #9ca3af;
}

li.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 116px;
  height: 20px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
