*{
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard';
  margin: 0;
  padding: 0;
  font-size: 10px;
  display: flex;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* overflow: hidden; */
}

.container {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  top: 100px;
  padding: 20px;
}

.hide {
  display: none;
}

.font1-8em {
  font-size: 1.8em;
  font-weight: 700;
}

.email-input {
  width: 100%;
  height:56px;
  border-radius: 12px;
  padding-left: 24px;
  gap: 10px;
  font-size: 1.6em;
  line-height: 26px;
  background-color: #F3F4F6;
  border: none;
  font-family: 'Pretendard';
  outline-color: #3692FF;
}

.nickname-input {
  width: 100%;
  height:56px;
  border-radius: 12px;
  padding-left: 24px;
  gap: 10px;
  font-size: 1.6em;
  line-height: 26px;
  background-color: #F3F4F6;
  border: none;
  font-family: 'Pretendard';
  outline-color: #3692FF;
}

.pleaseEmail-message, .noneEmail-message, .pleasePassword-message, 
.strongPassword-maessage, .strongNickname-maessage, .confirm-password-message {
  color:#F74747;
  font-size: 1.5em;
  line-height: 17.9px;
  font-weight: 600;
  position: relative;
  left: 16px;
  top: 8px;
}

.input-vector {
  display: flex;
  align-items: center;
}

.password-input {
  width: 100%;
  height:56px;
  border-radius: 12px;
  padding-left: 24px;
  gap: 10px;
  font-size: 1.6em;
  line-height: 26px;
  background-color: #F3F4F6;
  border: none;
  font-family: 'Pretendard';
  outline-color: #3692FF;
}

.vector, .vector-open, .confirm-vector, .confirm-vector-open {
  cursor: pointer;
  position: absolute;
  right: 44px;
}

.confirm-password-input {
  width: 100%;
  height:56px;
  border-radius: 12px;
  padding-left: 24px;
  gap: 10px;
  font-size: 1.6em;
  line-height: 26px;
  background-color: #F3F4F6;
  border: none;
  font-family: 'Pretendard';
  outline-color: #3692FF;
}

.signup-button {
  width: 100%;
  height: 56px;
  border-radius: 40px;
  text-align: center;
  gap: 10px;
  background-color: #9CA3AF;
  font-weight: 600;
  font-size: 2em;
  line-height: 32px;
  color: #F3F4F6;
  border: none;
  pointer-events: none;
}

.signup-button.active {
  background-color: #3692FF;
  cursor: pointer;
  pointer-events: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 9998;
}

.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 540px;
  height: 250px;
  width: 100%;
  padding: 20px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  z-index: 9999;
}

.modal-box p{
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09;
  color: #1F2937;
}

.modal-close-btn {
  border: none;
  border-radius: 8px;
  width: 120px;
  height: 48px;
  position: fixed;
  top: 174px;
  right: 28px;
  background-color: #3692ff;
  font-size: 1.6em;
  font-weight: 600;
  line-height: 19.09px;
  color: #fff;
  cursor: pointer;
}

.Easylogin {
  padding: 24px;
  height: 74px;
  border-radius: 8px;
  background-color: #E6F2FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 26px;
}

.Component {
  display: flex;
  gap: 16px;
}

.signup {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 24px;
}

a {
 color: #3692FF;
 line-height: 16.71px;
}

img {
  max-width: 100%;
}