@import "../src/shared/styles/reset.css";
@import "../src/shared/styles/color.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: pretendard, sans-serif;
  margin: 0;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* 태블릿 사이즈 미디어쿼리리 */
@media (max-width: 1199px) {
  .content {
    max-width: 696px;
  }
}

/* 모바일 사이즈 미디어쿼리리 */
@media (max-width: 743px) {
  .content {
    max-width: 344px;
  }
}
