

@font-face {
    font-family: 'pretendard';
    src: url(./Pretendard-1.3.9/web/static/woff/Pretendard-Bold.woff) format('woff');
}


p.search-detail-2 br {
    display: none;
}

   
    
div.do-trade br {
    display: none;
}


.mainBox{
    display: flex;
    flex-direction: column;
}

.container {
    width: 1120px;
    margin:9.5px 400px 9.5px 400px;
    display: grid;
    grid-template-columns: 1fr; /* 한 열로 구성 */
    justify-items: center; /* 내용을 가운데 정렬 */
    }

.Medium-font {
    font-weight: 500;
}




body{
    font-family: 'pretendard', sans-serif;
    margin: 0 auto;
}

div.firtstnav {
    height: 70px;
    background-size: cover;    
    width: 100%;

}

div.header{
    height: 70px;
}
div.top{
    background-size: cover;    
    background-color: #cfe5ff; 
    width: 100%;

}

div.bottom{
    background-color: #cfe5ff; 
    background-size: cover; 
    margin-top: 24px;
}

div.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


div.headerdiv {
    height: 70px;
    
}

#headersec {
    position: sticky;
    top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.headernav {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    padding: 0;
}
.header-nav {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px 9px 10px;
}

a {
    cursor: pointer;
    text-decoration: none; 
    color: inherit;
}



.first-header {
    width: 1120px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    list-style: none;
    margin: 9.5px 400px 9.5px 400px;
    padding: 0%;
}



/*  */


.first-nav {
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    align-items: center;
    list-style: none;
    margin: 9.5px 400px 9.5px 400px;
    
}

.firstnavdiv {
    position: fixed;
}

/*  */

.li-flex {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.login-img {
    margin: 1.5px 0 1.5px 0;
    cursor: pointer;
}

header > nav > ul > li {
    height: 50px;
}

img.div1 {
    margin-top: 211px;
    width: 100%;
}

img.div2 {
    margin-top: 217px;
    width: 100%;
}

/* 여기서부터 DIV 영역 */



.buy-anything {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.do-buy {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: end;
    height: 220px;
}

.do-trade{
    font-size: 40px;
    margin-bottom: 24px;
    color: #374151;
    
}

.do-show {
    width: 109px;
    height: 32px;
    border: 0 solid;
    border-radius: 40px;
    background-color: #3692ff;
    padding: 12px 124px 12px 124px;
    font-size: 20px;
    color: #f9fafb;
    text-align: center;
    line-height: 32px;
}


/* 2번째 div 영역  */

.brand-leader {
    height: 100%;
    align-items: center;
}

.brand-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.leader-img {
    width: 696px;
    height: 525px;
}

.leader-detail {
    height: 160px;
    margin: 24px 0 0px 0px;
    text-align: left;
    vertical-align: top;
}

p.detail-2 br {
    display: none;
}

.detail-1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    color: #3692ff;
    margin-bottom: 16px;
}

.detail-2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #374151;
}


.detail-3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 24px;
    letter-spacing: -1px;
}



/* 3번째 div  */

.want-product {    
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.want-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.search-img {
    width: 696px;
    height: 525px;
}


.search-detail {
    text-align: right;
    vertical-align: top;
    order: 2;
}

.search-detail-1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #3692ff;
}

.search-detail-2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #374151;
}

.search-detail-3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 24px;
}


/* 4번째 div  */

.want-sales {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

    
}

.sales-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    
}

.sales-image {
    width: 696px;
    height: 525px;
}

.sales-detail {
    text-align: left;
    vertical-align: top;
}
p.slaes-detail-2 br {
    display: none;
}

.slaes-detail-1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-top: 24px;
    color: #3692ff;
}

.slaes-detail-2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin-top: 16px;
    margin-bottom: 24px;
    color: #374151;
    ;
}


.slaes-detail-3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 auto;
}

.trust-pandamarket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    align-items: center;
}

.trust-panda {
    margin-top: 201px;
}


.get-trust {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
}

div.tailmen {
    height: 160px;
    background-color: #111827;
}

div.tailsec {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.tail-nav {
    width: 1520px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 32px 24px;
}

nav > li {
    color: #9ca3af;
}

 

li.frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 116px;
    height: 20px;

}



/* 태블릿 (744px ~ 1199px) */
.layout-vertical {
    display: flex;
    flex-direction: column; /* 세로 배열 */
    gap: 24px; /* 세로 간격 */
    align-items: center; /* 세로 정렬 */
}