div.passwd-wrapper {
    position: relative; 
  }
  
  #showPassword {
    display: none; /* checkbox 숨기기 */
  }
  
  #togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  #showPassword:checked + label #togglePassword {
    content: url("secret.png"); /* checkbox 체크 시 눈 감는 이미지로 변경 */
  }
  
  #showPassword:checked ~ #passwordInput {
    -webkit-text-security: none; /* checkbox 체크 시 비밀번호 표시 */
    text-security: none; 
  }