:root {
  --Cool-Gray-50: #f9fafb;
  --Cool-Gray-100: #f3f4f6;
  --Cool-Gray-200: #e5e7eb;
  --Cool-Gray-400: #9ca3af;
  --Cool-Gray-500: #6b7280;
  --Cool-Gray-600: #4b5563;
  --Cool-Gray-700: #374151;
  --Cool-Gray-800: #1f2937;
  --Cool-Gray-900: #111827;
  --Primary-100: #3692ff;
  --Primary-200: #1967d6;
  --Primary-300: #1251aa;
  --error-red: #f74747;
}
