@import "./reset.css";
@import "./color.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: pretendard;
}

#modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal-bg.show {
    display: flex;
}

#modal {
    position: relative;
    width: 80%;
    max-width: 540px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-msg {
    color: var(--gray800);
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.09px;
    text-align: center;
}

#close-btn {
    position: absolute;
    bottom: 28px;
    right: 28px;
    width: 120px;
    height: 48px;
    background-color: var(--primary100);
    border-radius: 8px;
    padding: 12px 23px;
    border: none;

    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19.09px;
}

/* 링크 클릭 후 보라색으로 변경되는 스타일 없애기
밑줄까지 없어져서 피그마 도안과 달라져서 확인 후 적용 */
/* a {
    text-decoration: none;
} */

header {
    padding-top: 60px;
    margin-bottom: 40px;
}

header > .content {
    display: flex;
    justify-content: center;
}

#logo-img {
    width: 396px;
}

main {
    padding-bottom: 60px;
}

.content {
    width: 100%;
    max-width: 640px;
    margin: auto;
    padding: 0 16px;
}

#input-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-label {
    color: var(--gray800);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}

.input-wrapper {
    width: 100%;
    position: relative;
}

.input-box {
    width: 100%;
    height: 56px;
    background-color: var(--gray100);
    border-radius: 12px;
    padding: 15px 24px;
    border: none;

    color: var(--gray800);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

input::placeholder {
    color: var(--gray400);
}

input:focus {
    outline: 1px solid var(--primary100);
}

.show-error {
    outline: 1px solid var(--error);
}

.error-msg {
    color: var(--error);
    font-size: 1rem;
    font-weight: 600;
    line-height: 17.9px;
    padding-top: 8px;
    padding-left: 16px;
}

.visible-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    cursor: pointer;
}

#auth-btn-box {
    margin-top: 24px;
}

#auth-btn {
    width: 100%;
    height: 56px;
    background-color: var(--gray400);
    border-radius: 40px;
    padding: auto;
    border: none;

    color: var(--gray100);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

#auth-btn.activate {
    background-color: var(--primary100);
}

#sns-login-box {
    background-color: var(--box_bg);
    width: 100%;
    height: 74px;
    padding: 16px 23px;
    margin: 24px 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    color: var(--gray800);
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
}

#sns-img-box {
    width: 100px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.sns-img {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

#find-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.main-text.light {
    font-size: 0.875rem;
    line-height: 24px;
}

#page-link {
    color: var(--primary100);
    font-size: 0.875rem;
    line-height: 16.71px;
    cursor: pointer;
}

/* mobile size */
@media (max-width: 743px) {
    #modal {
        max-width: 400px;
        height: 220px;
    }

    #modal-msg {
        padding-bottom: 50px;
    }

    #close-btn {
        right: 50%;
        transform: translateX(50%);
    }

    header {
        padding-top: 24px;
        margin-bottom: 24px;
    }

    #logo-img{
        width: 198px;
    }

    /* 모바일 사이즈에서 내부 요소의 너비 400px 넘지 않는다 */
    #content {
        max-width: 400px;
    }

    #input-form {
        gap: 16px;
    }

    .input-label {
        font-size: 0.875rem;
        line-height: 16px;
        margin-bottom: 8px;
    }

    #auth-btn-box {
        margin-top: 16px;
    }
}