@import "./reset.css";


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: pretendard;
    margin: 0;
}

header {
    background-color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0; 
}

.content {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

nav {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

#logo_img {
    width: 153px;
    height: 51px;
}

#login_button {
    background-color: #3692ff;
    padding: 12px 23px;
    border-radius: 8px;
    cursor: pointer;
}

#login_button {
    width: 128px;
    color: #f3f4f6;
    font-size: 1rem;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    text-decoration-line: none;
    flex-shrink: 0;
}

.bg_colored {
    background-color: #CFE5FF;
    width: 100%;
    height: 540px;
    display: flex;
}

#top_box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 7px;
}

.msg_box {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    margin: 40px 0;
}

.title_box {
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
    margin: 0;
}

#items_button {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: #f9fafb;
    text-decoration-line: none;
}

#items_button {
    width: 357px;
    border-radius: 40px;
    padding: 16px 124px;
    background-color: #3692ff;
    margin-bottom: 60px;
    cursor: pointer;
}

#top_img {
    width: 100%;
    max-width: 746px;
    height: auto;
}

.main_box {
    display: flex;
    align-items: center;
    height: 720px;
}

.card {
    background-color: #fcfcfc;
    width: 988px;
    height: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 0 auto;
    margin: 0 auto;
}

.main_imgs {
    width: 588px;
    height: auto;
}

.main_msg_box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    margin: 103px 0;
}

.badge {
    color: #3692ff;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
}

.desctiption {
    color: #374151;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 32px;
    margin-top: 12px;
    margin-bottom: 0;
}

.card.reverse {
    flex-direction: row-reverse;
}

.card.reverse > .main_msg_box {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
    margin: 103px 0;
}

.bottom {
    padding-top: 138px;
}

#bottom_box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 69px;
}

#bottom_box > .msg_box {
    display: flex;
    align-items: center;
    margin: 112.5px 0;
}

#bottom_box .title_box {
    margin-bottom: 60px;
}

#bottom_img {
    width: 100%;
    max-width: 746px;
    height: auto;
}


footer {
    height: 160px;
    background-color: #111827;
    padding: 32px 0;
}

footer > .content {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    margin: 0 auto;

    font-size: 1rem;
    font-weight: 400;
    line-height: 19.09px;
    text-align: center;
}

.addr {
    color: #9ca3af;
}

.list_corp {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.corp_item {
    color: #e5e7eb;
    text-decoration-line: none;
    cursor: pointer;
}
    
.sns_box {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.sns_icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* tablet size */
@media (max-width: 1199px) {
    .bg_colored {
        height: 771px;
    }

    #top_box {
        height: 100%;
        flex-direction : column;
        justify-content: space-between;
        align-items: center;
    }

    .top .msg_box {
        align-items: center;
        margin: 84px auto;
        gap: 24px;
    }

    .title_box {
        display: inline;
    }

    #items_button {
        margin: 0;
    }


    main {
        width: 696px;
        margin: 24px auto;
        display: flex;
        flex-direction: column;
        gap: 52px;
    }

    .main_box {
        width: 100%;
        height: 708px;
    }

    .card {
        width: 100%;
        height: 708px;
        display: flex;
        flex-direction: column ;
        align-items: flex-start;
        gap: 24px;
    }

    .main_msg_box {
        margin: 0;
        gap: 0;
    }

    .main_msg_box .title_box {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .main_msg_box .title {
        font-size: 2rem;
        line-height: 42px;
    }

    .main_msg_box .desctiption {
        margin: 0;
        font-size: 1.125rem;
        line-height: 26px;
    }

    .main_imgs {
        width: 696px;
        height: 524px;
    }

    .card.reverse{
        width: 100%;
        height: 708px;
        display: flex;
        flex-direction: column ;
        align-items: flex-end;
        gap: 24px;
    }

    .card.card.reverse > .main_msg_box {
        margin: 0;
        gap: 0;
    }

    .bottom {
        padding-top: 32px;
    }

    .bottom > .bg_colored {
        height: 927px;
    }

    #bottom_box {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    #bottom_box > .msg_box {
        justify-content: center;
        margin-top: 201px;
        margin-bottom: 0;
    }

    #bottom_box .title {
        text-align: center;
        margin: 0;
    }

    footer > .content {
        padding: 0 24px;
    }

}