@import "./reset.css";
@import "./color.css";


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: pretendard;
    margin: 0;
}

header {
    background-color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0; 
}

.content {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

nav {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

#logo-img {
    width: 153px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8.6px;
}

#logo-icon {
    width: 40px;
    display: block;
}

#logo-text {
    width: 103px;
}

#login-button {
    background-color: var(--primary100);
    padding: 12px 23px;
    border-radius: 8px;
    cursor: pointer;

    width: 128px;
    color: var(--gray100);
    font-size: 1rem;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    text-decoration-line: none;
    flex-shrink: 0;
}

.bg-colored {
    background-color: #CFE5FF;
    width: 100%;
    height: 540px;
    display: flex;
}

#top-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 7px;
}

.msg-box {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    margin: 40px 0;
}

.title-box {
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 56px;
    color: var(--gray700);
    margin: 0;
}

#items-button {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: var(--gray50);
    text-decoration-line: none;

    width: 357px;
    border-radius: 40px;
    padding: 16px 124px;
    background-color: var(--primary100);
    margin-bottom: 60px;
    cursor: pointer;
}

#top-img {
    width: 100%;
    max-width: 746px;
    height: auto;
}

.main-box {
    display: flex;
    align-items: center;
    height: 720px;
}

.card {
    background-color: #fcfcfc;
    width: 988px;
    height: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 0 auto;
    margin: 0 auto;
}

.main-imgs {
    width: 588px;
    height: auto;
}

.main-msg-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    margin: 103px 0;
}

.badge {
    color: var(--primary100);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
}

.desctiption {
    color: var(--gray700);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 32px;
    margin-top: 12px;
    margin-bottom: 0;
}

.card.reverse {
    flex-direction: row-reverse;
}

.card.reverse > .main-msg-box {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
    margin: 103px 0;
}

.bottom {
    padding-top: 138px;
}

#bottom-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 69px;
}

#bottom-box > .msg-box {
    display: flex;
    align-items: center;
    margin: 112.5px 0;
}

#bottom-box .title-box {
    margin-bottom: 60px;
}

#bottom-img {
    width: 100%;
    max-width: 746px;
    height: auto;
}

footer {
    height: 160px;
    background-color: var(--gray900);
    padding: 32px 0;
    contain: content;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer > .content {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;

    font-size: 1rem;
    font-weight: 400;
    line-height: 19.09px;
    color: var(--gray400);
}

.addr-style {
    display: flex;
    padding: 0 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19.09px;
    color: var(--gray400);
}

.list-corp {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.corp-item {
    color: var(--gray200);
    text-decoration-line: none;
    cursor: pointer;
}
    
.sns-box {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.sns-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* tablet size */
@media (max-width: 1199px) {
    .bg-colored {
        height: 771px;
    }

    /* 태블릿 사이즈에서 텍스트, 이미지 정렬 방향 전환 */
    #top-box {
        height: 100%;
        flex-direction : column;
        justify-content: space-between;
        align-items: center;
        gap: 90px;
    }

    .top .msg-box {
        align-items: center;
        margin: 84px auto;
        gap: 24px;
    }

    /* 태블릿 사이즈에서 타이틀 텍스트 줄바꿈 제거 */
    .title-box {
        display: inline;
    }

    #items-button {
        margin: 0;
    }

    main {
        width: 696px;
        margin: 24px auto;
        display: flex;
        flex-direction: column;
        gap: 52px;
    }

    .main-box {
        width: 100%;
        height: 708px;
    }

    /* 태블릿 사이즈에서 텍스트, 이미지 정렬 방향 전환 */
    .card {
        width: 100%;
        height: 708px;
        display: flex;
        flex-direction: column ;
        align-items: flex-start;
        gap: 24px;
    }

    .main-msg-box {
        margin: 0;
        gap: 0;
    }

    .main-msg-box .title-box {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .main-msg-box .title {
        font-size: 2rem;
        line-height: 42px;
    }

    .main-msg-box .desctiption {
        margin: 0;
        font-size: 1.125rem;
        line-height: 26px;
    }

    .main-imgs {
        width: 696px;
        height: 524px;
    }

    /* 태블릿 사이즈에서 텍스트, 이미지 정렬 방향 전환 */
    .card.reverse{
        width: 100%;
        height: 708px;
        display: flex;
        flex-direction: column ;
        align-items: flex-end;
        gap: 24px;
    }

    .card.card.reverse > .main-msg-box {
        margin: 0;
        gap: 0;
    }

    .bottom {
        padding-top: 32px;
    }

    .bottom > .bg-colored {
        height: 927px;
    }

    /* 태블릿 사이즈에서 텍스트, 이미지 정렬 방향 전환 */
    #bottom-box {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    #bottom-box > .msg-box {
        justify-content: center;
        margin-top: 201px;
        margin-bottom: 0;
    }

    #bottom-box .title {
        text-align: center;
        margin: 0;
    }

    footer > .content {
        padding: 0 24px;
    }

}

/* mobile size */
@media (max-width: 743px) {
    /* 모바일 사이즈에서 로고 아이콘 숨기기 */
    #logo-icon {
        display: none;
    }

    nav {
        padding: 0 16px;
    }

    .bg-colored {
        height: 100%;
    }

    .top .msg-box {
        margin: 48px auto;
        gap: 18px;
    }

    /* 모바일 사이즈에서 타이틀 텍스트 줄바꿈 복구 */
    .top .title-box {
        display: flex;
        flex-direction: column;
    }

    .top .title {
        font-size: 2rem;
        line-height: 44px;
        text-align: center;
    }

    #items-button {
        font-size: 1.125rem;
        line-height: 26px;
        padding: 11px 71px;

        width: 240px;
        height: 48px;
    }

    /* 모바일 사이즈에서 여백 32px 제외 이미지 영역이 꽉 차도록 구현 */
    main {
        margin: 0;
        max-width: 100%;
        padding: 32px;
        gap: 40px;
    }

    .main-box {
        height: auto;
    }

    .card {
        height: auto;
    }

    .badge {
        font-size: 1rem;
    }

    .main-msg-box .title-box {
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .main-msg-box .title {
        font-size: 1.5rem;
        line-height: 32px;
    }

    .main-msg-box .desctiption {
        font-size: 1rem;
    }

    .main-imgs {
        width: 100%;
        height: auto;
    }

    .card.reverse{
        height: auto;
    }

    .bottom > .bg-colored {
        height: auto;
    }

    #bottom-box {
        gap: 10px;
    }

    #bottom-box > .msg-box {
        margin: 120px auto;
    }

    #bottom-box .title-box {
        margin: 0;
    }

    #bottom-box .title {
        font-size: 2rem;
        line-height: 44px;
    }

    footer > .content {
        padding: 0 16px;
    }

}